.box{
    border:solid black;
    background-color:skyblue;
    padding: 10px;
    font-size: 20px;
}
*{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.mlogo{
    padding-top: 4px;
    height: 100px;
}
.cname{
    padding-top: 10px;
    font-size: 60px;
    border: solid;
    text-shadow: 10px 10px 2px red;
    height: 100px;
    font-weight: bold;
    background-color: gold;
    color: white;
    text-align: center;
}
.menu{
    text-align: center;
    background-color:red;
    height: 50px;
    margin-top: 10px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.menu a{
    text-decoration: none;
    color:aliceblue;
    display: block;
}
.section{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color:chartreuse;
}
.about{
    /*margin-top: 10px;*/
    text-align: justify;
}
.services{
    background-color:lightgrey;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    text-align: justify;
    box-shadow: 0px 0px 8px 5px lightskyblue;
    transition-property: transform;
    transition-duration: 3s;
}
.services:hover{
    transform: scale(1.2)
}
.color{
    color:blue;
    font-size: 18px;
}
.th{color:red;font:bold;font-size:20px;}
    .my{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    .my1{color:green;font:fantacy;}
    .but1{background-color:yellow;border-radius:30px;font-size:20px;
    }
.boxprop{
        width:450px;
        height:400px;

        padding:10px;
        margin:20px;

        border:solid 3px;
        border-style:solid;
        border-color:red;
        border-radius:30px;

        box-sizing:border-box;
        display:inline-block;
}


